<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mx.rxjavaexample">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".RxJavaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AnimationActivity" />
        <activity android:name=".ThrottleSearchActivity" />
        <activity android:name=".RetrofitActivity" />
        <activity android:name=".GotchasActivity"></activity>
    </application>

</manifest>